i {
  margin-right: 1rem;
}

.nav {
  overflow: hidden;
  background-color: rgb(223, 51, 21);
  color: rgb(252, 247, 239);
}

.navHeader,
.pageLinks,
.link {
  display: inline-block;
}

.navHeader {
  float: left;
  margin-left: 2rem;
}

.icon {
  margin-right: 1rem;
}

.pageLinks {
  display: flex;
  list-style: none;
  float: right;
  margin: 1rem 1rem 0 0;
  font-size: 1.2rem;
}

.navlink {
  color: white;
  margin-right: 1rem;
}
