i {
  margin-right: 1rem;
}

.nav {
  overflow: hidden;
  background-color: rgb(223, 51, 21);
  color: rgb(252, 247, 239);
  padding: 0.8rem 0;
}

.navHeader,
.pageLinks,
.link {
  display: inline-block;
}

.navHeader {
  float: left;
  margin-left: 2rem;
}

.links {
  display: flex;
  list-style: none;
  float: right;
  margin: 0.5rem 1rem 0 0;
  font-size: 1.5rem;
}

.navlink {
  color: white;
  margin-right: 1rem;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  transition: all 0.2s;

  &:hover {
    text-decoration: none;
    color: white;
    border-color: white;
  }
}
